* { padding: 0; margin: 0; box-sizing: border-box; }
html {
  height:100%;
  padding:env(safe-area-inset); /* for iphone notch */
  -webkit-text-size-adjust:100%; /* Prevent font scaling in landscape while allowing user zoom */
  background:#f1f0e9; /* fallback 1 */
}
body {
  margin: 0;
  padding-top: 1em; 
  -webkit-backdrop-filter:blur(15px);
  backdrop-filter:blur(15px);
  background-color: rgb(255,255,255, 0.1); 
  /* padding: 1em; */
  min-height:100%;
 /* width: 86vmin; */
  margin: auto;
  top:0;
  font-family: Pitagon, Menlo, Monaco, Consolas, Liberation Mono, Lucida Console, monospace; 
  line-height:1.4;
  letter-spacing:-0.02em;
  overflow-wrap: break-word;
}
p {
/* font-size: calc(10px + .5vw); */
}
.item {
  height: 30vmax;
}
/* should probably be in a div for each item*/
.item img {
  width: 100%;
  height: 20vmax;
  padding-bottom: 12px;
  padding-top: 12px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding-left: 12px;
  padding-right: 12px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%; /* change this and next line to 25% for four or 100% for one */
  max-width: 25%;
   padding: 12px; 
}

/* HEADER */

header {
  width: 86vmin;
  margin: auto;
  display:block;
  padding:20px 0px 50px 1em;
}

#header-image {
  position: absolute;
  width:120px;
  max-width:100%;
  height:auto;
  margin-right:20px;
  right: 0;
}

@media (hover:hover) {
  #header-image:hover {
    color:#000000;
    filter: drop-shadow(16px 16px 20px red) invert(75%);
  }
}

h1 {
  display:block;
  float:left;
  margin:0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* NAVIGATION */

nav ul {
  list-style-type:none;
  padding:0;
  margin:0;
  float:left;
}

nav ul li {
  float:left;
  font-size:1em;
  border:solid 1.5px;
  border-radius:5px;
  margin:6px 16px 6px 0px;
}

nav ul li a{
  display:block;
  padding:3px 8px;
  text-decoration:none;
}

@media (hover:hover) {
  nav ul li:hover {
    /* filter:invert(); */
    background-color: white;
    text-decoration:none;
  }

  nav ul li a:hover {
    color:#000000;
    text-decoration:none;
  }
}


.column img {
/*  margin-top: 24px;  */
  vertical-align: middle;
}

/* responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 1020px) {
  p {
    font-size: 3vw;
  }
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .item {
    max-height: 30vh;
  }
  .item img{
    object-fit: cover;
  }
}

/* FOOTER */

footer {
  clear:both;
  width: 86vmin;
  display:block;
  margin: auto;
  margin-top:1em;
  padding:10px 0px;
  font-style:italic;
  font-size:0.8em;
}

footer ul {
  float:left;
  list-style-type:none;
  padding:0;
  margin:0;
  float:left;
}

footer ul li {
  float:left;
  padding:3px 8px 3px 0px;
  margin:6px 8px 6px 0px;
}

footer ul li a{
  text-decoration:none;
}

footer ul li img {
  height:30px;
  width:30px;
}

@media (hover:hover) {
  footer ul li:hover {
    color:#000000;
    filter:invert();
  }
}
